@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Registration Portal</h1>
    <h3>Secured Online BioData Vault</h3>
    <img src="~/img/vault1.jpeg" />
</div>